*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fff;
    overflow: hidden;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}
.nav a{
    color: #fff;
    text-decoration: none;
}