* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #fff;
  overflow: hidden;
  font-family: "General Sans", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}
.nav a {
  color: #fff;
  text-decoration: none;
}
.nav h4{
    font-size: small;
}
.heading {
  text-transform: uppercase;
  margin: 90px;
  line-height: 1;
    font-family: "General Sans Medium", sans-serif;

}
.heading h1 {
  font-size: 7vw;
  opacity: 0.6;
}
.secondh1 {
  margin-left: 110px;
}
.text-block {
  width: fit-content;
}
.smallheading {
  text-align: end;
  margin: 5px;
}
.info{
    text-transform: uppercase;
    width: 100%;
    text-align: end;
    padding: 0px 20px;
    font-size: 0.8vw;
    line-height: 1.5;
}
.footer{
    width: 100%;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 0.8vw;
    position: absolute;
    bottom: 0;
}
.footer a i{
    font-size: 1.2vw;
}
.footer a{
    text-decoration: none;
    color: #fff;
}
.footerlogo{
    display: flex; 
    gap: 5px; 
}
.circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle:hover{
    cursor: pointer;
    background-color: #fff;
    color: black;
}
