* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #fff;
  overflow: hidden;
  font-family: "General Sans", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}
.nav a {
  color: #fff;
  text-decoration: none;
}
.heading {
  text-transform: uppercase;
  margin: 90px;
  line-height: 1;
    font-family: "General Sans Medium", sans-serif;

}
.heading h1 {
  font-size: 7vw;
  opacity: 0.6;
}
.secondh1 {
  margin-left: 110px;
}
.text-block {
  width: fit-content;
}
.smallheading {
  text-align: end;
  margin: 5px;
}
